ul {
    width: 100%;
    color: black;
}

.component-main {
    min-width: 500px;
}

.form-control {
    margin: 10px 0px;
}

.btn {
    width: 100%;
}

.alignLeft {
	float: left;
}
.alignRight {
	float: right;
}

.alignClear {
    clear: both;
}

.textAlignCenter {
    text-align: center;
}

.authenticate {
    text-align: center;
    margin: 20px 0px 40px 0px;
}